@import 'bootstrap';
/* ----- BODY ----- */
body {
    background-color: #B56576;
    color: white;
}

/* ---- FOOTER ---- */
.nav {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #355070;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #EAAC8B;
}