@import 'bootstrap';
/* ----- BODY ----- */
body {
    background-color: #B56576;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

/* ----- HOME ----- */
#apartment-home {
    width: 100%;
    height: auto;
}

/* ----- INDEX ----- */
#all-apts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px;
}

.apt-card {
    margin: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
    background-color: #fff;
    color: #355070;
}

.apt-card:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 80%;
    top: 80%;
    max-width: 300px;
    background: #222;
    -webkit-box-shadow: 0 15px 10px #222;
    -moz-box-shadow: 0 15px 10px #222;
    box-shadow: 0 15px 10px #222;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
    
.view-button {
    background-color: #E56B6F;
    border: 1px solid #fff;
}

.view-button:hover {
    background-color: #fff;
    color: #E56B6F;
    border: 1px solid #E56B6F;
}

.remove {
    color: #222;
    font-style: italic;
    font-size: 14px;
}

.remove:hover {
    text-decoration: underline;
}

/* ----- SHOW ----- */
#apt-show {
    margin: auto;
    padding: 40px 20px;
    width: 500px;
    position: relative;
    background-color: #fff;
    color: #355070;
}

.index-button {
    background-color: #E56B6F;
    border: 1px solid #fff;
    margin: 5px 0px;
}

.index-button:hover {
    background-color: #fff;
    color: #E56B6F;
    border: 1px solid #E56B6F;
    margin: 5px 0px;
}

.edit-button {
    background-color: #355070;
    border: 1px solid #fff;
    margin-bottom: 30px;
}

.edit-button:hover {
    background-color: #fff;
    color: #355070;
    border: 1px solid #355070;
}

/* ----- EDIT ----- */
.cancel-button {
    background-color: #222;
    border: 1px solid white;
    margin: 0px 5px;
    margin-bottom: 30px;
}

.cancel-button:hover {
    background-color: #fff;
    color: #222;
}

/* ----- NOT FOUND ----- */
#error {
    width: auto;
    height: 100%;
}

/* ----- NEW ----- */
.form {
    margin: auto;
    padding: 30px;
    border: 3px solid #fff;
    background-color: #E56B6F;
    width: 75%;
}

.submit-new-button {
    background-color: #355070;
    border: 1px solid #fff;
    margin-bottom: 30px;
}

.submit-new-button:hover {
    background-color: #fff;
    color: #355070;
    border: 1px solid #355070;
}
/* ----- HEADER ----- */
#header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    width: 100%;
    padding: 5px;
    background-color: #355070;
}

a {
    margin: 0px 20px;
}

/* ---- FOOTER ---- */
#footer {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #355070;
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #E56B6F;
}